.details-wrapper{
    margin-top:50px;
    margin-bottom:100px;
}


.details-container{
    flex-wrap: wrap;
    display: flex;
    justify-content:center;
}


.details-body{
    max-width: 400px;
    padding-top:50px;
    padding-left:50px;
}
@media only screen and (max-width:768px) {
    .details-body{
    padding-left:50px;
    }
}