.bg-myColor{
    background-color: rgba(130,184,8);
}

.nav-brand{
    padding:0;
}
.logo-books{
    font-weight: 750;
}
.nav-brand a{
    font-size:50px;
    font-weight: 300;
    color:white;
    text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: 500;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: black;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
    color: black;
}
#navbarScroll{
    justify-content: flex-end;
}